.form-inline .form-control {
  display: inline-block;
  margin-right:4px;
}
#nameLabel {
  margin-right:4px;
}
.panel {
	margin-bottom:4px;
}
.panel-body {
	height:250px;
	overflow: auto;
}
.btn-margin-left {
	margin-left:8px;
}
.current-game {
	background-color:#eee;
}

.list-plain { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
/* #messages li:nth-child(odd) { background: #eee; } */

.card {
	width:130px;
	margin-top: 50px;
}
.card.selected {
	margin-top: 0px;
}

.card-placeholder {
	background-color: gray;
}
.list-item-card {
	display: inline;
	float: left;
	position: absolute;
}
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#game {
	margin-top: 40px;
}

#middle {
	display: flex;
  justify-content: space-evenly;
}

#hand {
	display: flex;
	margin-top: 20px;
}

#controls {
	margin-top: 20px;
}

#advice {
	margin-top: 20px;
}

#chat {
	margin-top: 20px;
}

@media(max-width:767px){
	.card {
		width:100px;
	}
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}