.form-inline .form-control {
  display: inline-block;
  margin-right:4px;
}
#nameLabel {
  margin-right:4px;
}
.panel {
	margin-bottom:4px;
}
.panel-body {
	height:250px;
	overflow: auto;
}
.btn-margin-left {
	margin-left:8px;
}
.current-game {
	background-color:#eee;
}

.list-plain { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
/* #messages li:nth-child(odd) { background: #eee; } */

#playedArea {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 1;
	gap: 10px;
}

.onePlayerPlayedArea {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	gap: 10px;
	flex-wrap: wrap;
	border: 1px solid #ccc;
  border-radius: 5px;
	padding: 15px;
}

.playedSet > .card {
	width: 60px;
}
.playedSet > .card:not(:nth-child(1)) {
	margin-left: -40px;
}

.card {
	width:130px;
}
.card.selected {
	margin-top: 0px;
}

.card-placeholder {
	background-color: gray;
}
.list-item-card {
	display: inline;
	float: left;
	position: absolute;
}
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#game {
	margin-top: 40px;
}

#middle {
	display: flex;
  /* justify-content: space-evenly; */
	gap: 10px;
}

#hand {
	display: flex;
	margin-top: 20px;
}

#controls {
	margin-top: 20px;
}

#advice {
	margin-top: 20px;
}

#chat {
	margin-top: 20px;
}

@media(max-width:767px){
	.card {
		width:100px;
	}
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}